<div ng-controller="UsersController">
  <form></form>
  <input name="username" ng-model="user.username" type="text" />
  <input name="name" ng-model="user.name" type="text" />
  <input type="submit" ng-click="addUser()" value="Save" />
</div>

